@font-face {
  src: url("./fonts/Outfit-Regular.ttf");
  font-family: "Outfit-bold";
  font-display: swap;
}

@font-face {
  src: url("./fonts/Outfit-ExtraLight.ttf");
  font-family: "Outfit";
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Outfit-bold";
}

body {
  background: #0d1a2d;

  margin: 0;
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #15273f;
  color: white;

  box-shadow: 0px 30px 5px 18px #0c1729, 0px 20px 5px 50px #0c192c;

  width: 18rem;
  border-radius: calc(0.5em + 0.5vw);
  padding: calc(0.6em + 0.6vw);
}

h1 {
  cursor: pointer;
  font-weight: lighter;
  font-size: calc(0.6em + 0.6vw);
}

svg {
  margin-right: calc(0.2em + 0.2vw);
}

hr {
  opacity: 0.2;
}

.details {
  font-size: calc(0.4em + 0.4vw);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  font-family: "Outfit";

  opacity: 0.7;
}

.avatar {
  font-family: "Outfit";

  display: flex;
  justify-content: start;
  align-items: center;
}

h1:hover {
  color: #20ccca;
}

.details div:nth-child(1) {
  color: #3ee3e2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.details div:nth-child(2) {
  opacity: 0.6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: calc(1em + 1vw);

  margin-right: calc(0.4em + 0.4vw);
  border: 1px solid white;
  border-radius: 200%;
}

.etherium-image img {
  cursor: pointer;

  width: 100%;
  border-radius: calc(0.4em + 0.4vw);
}

.etherium-image img:nth-child(2) {
  display: none;
}
.avatar div:nth-child(2) {
  font-size: calc(0.4em + 0.4vw);
  opacity: 0.9;
}

.avatar div:nth-child(2) p:nth-child(1) {
  display: inline;
  opacity: 0.6;
}

.avatar div:nth-child(2) p:nth-child(2) {
  display: inline;
}

.avatar div:nth-child(2) p:nth-child(2):hover {
  color: #20ccca;
  cursor: pointer;
}

@media (max-width: 500px) {
  h1 {
    font-size: calc(1.2em + 1.2vw);
  }

  main {
    width: calc(16em + 16vw);
    padding: calc(1.3em + 1.3vw);
  }

  hr {
    margin-bottom: calc(0.6em + 0.6vw);
  }

  .details {
    font-size: calc(0.8em + 0.8vw);
    margin-bottom: calc(0.4em + 0.4vw);
  }

  .avatar p {
    font-size: calc(1.2em + 1.2vw);
  }

  .avatar img {
    width: calc(1.5em + 1.5vw);
    margin-right: calc(0.6em + 0.6vw);
  }
}
